h1 {font-size: 50px;
    font-style: bold;
    color: turquoise;
    background-color: darkgray;}

body {background-color: darkseagreen;}

p       {font-size: 50px;
        font-style: bold;
        text-align: center;
        color: turquoise;
        background-color: darkgray;}